<footer class="st-foot">
  <div class="store-wrap">
    <div class="st-foot__grid">
      <div>
        <div class="st-foot__brand">كمال العقارية</div>
        <p class="st-foot__blurb">وحدات أساسية وإعادة بيع في القاهرة الجديدة والشيخ زايد والساحل الشمالي والعين السخنة. وساطة مرخّصة منذ 2011.</p>
      </div>
      <div>
        <h3>تصفّح</h3>
        <ul>
          <li><a href="{{base}}store/search.html">كل الوحدات</a></li>
          <li><a href="{{base}}store/search.html?zone=New+Cairo">القاهرة الجديدة</a></li>
          <li><a href="{{base}}store/search.html?zone=North+Coast">الساحل الشمالي</a></li>
          <li><a href="{{base}}store/search.html?zone=Ain+Sokhna">العين السخنة</a></li>
        </ul>
      </div>
      <div>
        <h3>الكمبوندات</h3>
        <ul>
          <li><a href="{{base}}store/compound.html">ميفيدا</a></li>
          <li><a href="{{base}}store/compound.html">مراسي</a></li>
          <li><a href="{{base}}store/compound.html">هايد بارك</a></li>
          <li><a href="{{base}}store/compound.html">الجلالة</a></li>
        </ul>
      </div>
      <div>
        <h3>تواصل</h3>
        <ul>
          <li><a href="tel:+201002448817" dir="ltr">+20 100 244 8817</a></li>
          <li><a href="mailto:hello@kamalestates.com" dir="ltr">hello@kamalestates.com</a></li>
          <li><a href="{{base}}store/contact.html">احجز معاينة</a></li>
          <li>التسعين الشمالي، القاهرة الجديدة</li>
        </ul>
      </div>
    </div>
    <div class="st-foot__legal">
      <span>© 2026 كمال العقارية</span>
      <a href="#">الخصوصية</a>
      <a href="#">الشروط</a>
      <span class="made">مبني بـ <a href="{{base}}index.html">ألف مسكن</a></span>
    </div>
  </div>
</footer>
